{% extends 'base.html'%}
{% load static %}
{% block title %}Error - bookDCU{% endblock %}
{% block content %}

<link rel="stylesheet" href="{% static '/css/style.css' %}">

<body>
    <div class="col-sm-3 my-1 mx-auto text-center">
        <img id="success-img" src="{% static '/img/error-yellow.svg' %}" alt="errorxx">
        <h1 class="title">Uh oh...</h1>
        <h5 class="text-muted text-center">Looks like someone's beaten you to it!</h5>
        <p>
            The seat you attempted to book may have already been booked by another user. Click below to make a new booking.
        </p>
        <a href="/" class="btn btn-primary" id="view-bkg-btn">Make a New Booking</a>
    </div>
</body>
{% include 'footer.html' %}
{% endblock%}
