{% load static %}
<link rel="stylesheet" href="{% static '/css/style.css' %}">

<footer class="footer">

	<!-- Icon source: https://www.iconfinder.com/iconsets/social-media-circle-7 -->
	<div class="footer-icons">
		<a href="https://www.facebook.com/DCU/" target="_blank"><img src="{% static '/img/facebook-icon.svg' %}"
				alt="Visit us on Facebook"></a>
		<a href="https://twitter.com/dcu" target="_blank"><img src="{% static '/img/twitter-icon.svg' %}"
				alt="Visit us on Twitter"></a>
		<a href="https://www.instagram.com/dublincityuniversity/" target="_blank"><img src="{% static '/img/instagram-icon.svg' %}"
				alt="Visit us on Instagram"></a>
		<a href="https://www.youtube.com/user/dublincityuniversity" target="_blank"><img src="{% static '/img/youtube-icon.svg' %}"
				alt="Visit us on YouTube"></a>
	</div>

	<p>Copyright &copy;
		<script>document.write(new Date().getFullYear())</script> bookDCU •  All Rights Reserved
	</p>
</footer>
